service: basic-lambda-func
provider:
  name: aws
  runtime: nodejs12.x

# you can overwrite defaults here
 stage: dev
 region: ap-south-1

functions:
  hello:
    handler: src/handler.generateRandomnumber
